## Python Strings

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [1]:
a = "Hello"
print(a)

Hello

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [2]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [3]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**

Strings in Python are arrays of bytes representing unicode characters. <br>

However, Python does not have a character data type, a single character is simply a string with a length of 1. <br>

Square brackets can be used to access elements of the string

In [5]:
a = "Hello, World!"
print(a[4])

o

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [6]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**String Length**
To get the length of a string, use the len() function.

In [7]:
a = "Hello, World!"
print(len(a))

13

**Check String**
To check if a certain phrase or character is present in a string, we can use the keyword in

In [9]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [10]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in

In [11]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an if statement:

In [12]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [15]:
b = "Hello, World!"
print(b[7:12])

World

Note: The first character has index 0

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [16]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

In [18]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [19]:
b = "Hello, World!"
print(b[-5:-2])

orl

# **Modify Strings**

Python has a set of built-in methods that you can use on strings.

**Upper Case**
The upper() method returns the string in upper case:

In [21]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

The lower() method returns the string in lower case:

In [22]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

Example
The strip() method removes any whitespace from the beginning or the end:

In [23]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

The replace() method replaces a string with another string:

In [24]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**Split String**
The split() method returns a list where the text between the specified separator becomes the list items.


The split() method splits the string into substrings if it finds instances of the separator:

In [25]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [26]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [27]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**String Format**

We cannot combine strings and numbers like this:

In [28]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [30]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [32]:
# Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [33]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [34]:
# Example
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (1385083735.py, line 4)

To fix this problem, use the escape character backslash followed by ":

Example
The escape character allows you to use double quotes when you normally would not be allowed:

In [35]:
txt = "We are the so-called \"Vikings\" from the north."

In [36]:
print(txt)

We are the so-called "Vikings" from the north.

**Escape Characters**

\'	  Single Quote <br>
\\	  Backslash <br>
\n	  New Line <br>
\r	  Carriage Return <br>
\t	  Tab <br>
\b	  Backspace <br>
\f	  Form Feed <br>
\ooo   Octal value <br>
\xhh	Hex value

# String Methods

**Python has a set of built-in methods that you can use on strings.**

Note: All string methods return new values. They do not change the original string.

## Method	Description <br>

**capitalize()**	Converts the first character to upper case <br>
**casefold()**	Converts string into lower case <br>
**center()**	Returns a centered string  <br>
**count()**	Returns the number of times a specified value occurs in a string  <br>
**encode()**	Returns an encoded version of the string  <br>
**endswith()**	Returns true if the string ends with the specified value  <br>
**expandtabs()**	Sets the tab size of the string  <br>
**find()**	Searches the string for a specified value and returns the position of where it was found  <br>
**format()**	Formats specified values in a string  <br>
**format_map()**	Formats specified values in a string  <br>
**index()**	Searches the string for a specified value and returns the position of where it was found  <br>
**isalnum()**	Returns True if all characters in the string are alphanumeric  <br>
**isalpha()**	Returns True if all characters in the string are in the alphabet  <br>
**isascii()**	Returns True if all characters in the string are ascii characters  <br>
**isdecimal()**	Returns True if all characters in the string are decimals  <br>
**isdigit()**	Returns True if all characters in the string are digits  <br>
**isidentifier()**	Returns True if the string is an identifier  <br>
**islower()**	Returns True if all characters in the string are lower case  <br>
**isnumeric()**	Returns True if all characters in the string are numeric  <br>
**isprintable()**	Returns True if all characters in the string are printable  <br>
**isspace()**	Returns True if all characters in the string are whitespaces  <br>
**istitle()**	Returns True if the string follows the rules of a title  <br>
**isupper()**	Returns True if all characters in the string are upper case  <br>
**join()**	Joins the elements of an iterable to the end of the string  <br>
**ljust()**	Returns a left justified version of the string  <br>
**lower()**	Converts a string into lower case  <br>
**lstrip()**	Returns a left trim version of the string  <br>
**maketrans()**	Returns a translation table to be used in translations  <br>
**partition()**	Returns a tuple where the string is parted into three parts  <br>
**replace()**	Returns a string where a specified value is replaced with a specified value <br>
**rfind()**	Searches the string for a specified value and returns the last position of where it was found <br>
**rindex()**	Searches the string for a specified value and returns the last position of where it was found <br>
**rjust()**	Returns a right justified version of the string <br>
**rpartition()**	Returns a tuple where the string is parted into three parts <br>
**rsplit()**	Splits the string at the specified separator, and returns a list <br>
**rstrip()**	Returns a right trim version of the string <br>
**split()**	Splits the string at the specified separator, and returns a list <br>
**splitlines()**	Splits the string at line breaks and returns a list <br>
**startswith()**	Returns true if the string starts with the specified value <br>
**strip()**	Returns a trimmed version of the string <br>
**swapcase()**	Swaps cases, lower case becomes upper case and vice versa <br>
**title()**	Converts the first character of each word to upper case <br>
**translate()**	Returns a translated string <br>
**upper()**	Converts a string into upper case <br>
**zfill()**	Fills the string with a specified number of 0 values at the beginning